{% load staticfiles %}

{% if page_obj.has_other_pages %}
    <div class="page-navigation">
        <a href="?page=1{% if query_words %}&q={% for w in query_words %}{{ w }}{% if not forloop.last %}+{% endif %}{% endfor %}{% endif %}">
            <button>FIRST</button>
        </a>
        {% if page_obj.number|add:'-1' > 0 %}
            <a href="?page={{ page_obj.number|add:'-1' }}{% if query_words %}&q={% for w in query_words %}{{ w }}{% if not forloop.last %}+{% endif %}{% endfor %}{% endif %}">
                <button><img id="left_arrow" class="arrow" src="{% static 'public/assets/icons/arrow_left.png' %}" alt=""> PREV</button>
            </a>
            {% if page_obj.number|add:'-2' > 0 %}
                <a href="?page={{ page_obj.number|add:'-2' }}{% if query_words %}&q={% for w in query_words %}{{ w }}{% if not forloop.last %}+{% endif %}{% endfor %}{% endif %}">
                    <button>{{ page_obj.number|add:'-2' }}</button>
                </a>
            {% endif %}
            {# page number without adding the pages_plus, this is  #}
            {% if pages_plus > 0 %}
                <a href="?page={{ page_obj.number }}{% if query_words %}&q={% for w in query_words %}{{ w }}{% if not forloop.last %}+{% endif %}{% endfor %}{% endif %}">
                    <button>{{ page_obj.number }}</button>
                </a>
            {% else %}
                <a href="?page={{ page_obj.number|add:'-1' }}{% if query_words %}&q={% for w in query_words %}{{ w }}{% if not forloop.last %}+{% endif %}{% endfor %}{% endif %}">
                    <button>{{ page_obj.number|add:'-1' }}</button>
                </a>
            {% endif %}
        {% endif %}
        <button class="nav_button active" >{{ page_obj.number }}</button>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query_words %}&q={% for w in query_words %}{{ w }}{% if not forloop.last %}+{% endif %}{% endfor %}{% endif %}">
                <button>{{ page_obj.next_page_number }}</button>
            </a>
            {% if page_obj.number|add:'2' <= page_obj.paginator.num_pages %}
                <a href="?page={{ page_obj.number|add:'2' }}{% if query_words %}&q={% for w in query_words %}{{ w }}{% if not forloop.last %}+{% endif %}{% endfor %}{% endif %}">
                    <button>{{ page_obj.number|add:'2' }}</button>
                </a>
            {% endif %}
            <a href="?page={{ page_obj.next_page_number }}{% if query_words %}&q={% for w in query_words %}{{ w }}{% if not forloop.last %}+{% endif %}{% endfor %}{% endif %}">
                <button>NEXT <img id="right_arrow" class="arrow" src="{% static 'public/assets/icons/arrow_right.png' %}" alt=""></button>
            </a>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}{% if query_words %}&q={% for w in query_words %}{{ w }}{% if not forloop.last %}+{% endif %}{% endfor %}{% endif %}">
            <button>LAST</button>
        </a>
    </div>
{% endif %}